u-section-1 {
  min-height: 1335px;
}

.u-section-1 .u-text-1 {
  margin: 159px calc(((100% - 1140px) / 2) + 353px) 0 calc(((100% - 1140px) / 2) + 467px);
}

.u-section-1 .u-line-1 {
  width: 561px;
  transform-origin: left center 0px;
  margin: -63px auto 0;
}

.u-section-1 .u-image-1 {
  width: 956px;
  height: 319px;
  margin: 71px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 320px;
  margin: -607px calc(((100% - 1140px) / 2) + 274px) 0 auto;
}

.u-section-1 .u-form-1 {
  height: 558px;
  background-image: none;
  width: 780px;
  margin-top: -13px;
  margin-left: calc(((100% - 1140px) / 2) + 209px);
  margin-bottom: 60px;
}

.u-section-1 .u-label-1 {
  font-size: 1rem;
}

.u-section-1 .u-input-1 {
  font-size: 0.875rem;
}

.u-section-1 .u-label-2 {
  font-size: 1rem;
}

.u-section-1 .u-input-2 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-size: 1rem;
}

.u-section-1 .u-input-3 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 1rem;
}

.u-section-1 .u-input-4 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-size: 1rem;
}

.u-section-1 .u-input-5 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-size: 1rem;
}

.u-section-1 .u-input-6 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-size: 1rem;
}

.u-section-1 .u-input-7 {
  font-size: 0.875rem;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-size: 1rem;
}

.u-section-1 .u-input-8 {
  font-size: 0.875rem;
}

.u-section-1 .u-btn-1 {
  font-size: 0.625rem;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1329px;
  }

  .u-section-1 .u-text-1 {
    width: 289px;
    margin-top: 152px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-1 {
    margin-top: 215px;
    margin-left: calc(((100% - 1140px) / 2) + 181px);
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 313px;
    margin-top: -167px;
    margin-right: calc(((100% - 940px) / 2) + -81px);
  }

  .u-section-1 .u-image-2 {
    margin-top: -633px;
    margin-right: auto;
  }

  .u-section-1 .u-form-1 {
    height: 690px;
    margin-top: 15px;
    margin-left: calc(((100% - 940px) / 2) + 92px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1256px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 220px;
    margin-right: calc(((100% - 720px) / 2) + 177px);
    margin-left: calc(((100% - 720px) / 2) + 254px);
  }

  .u-section-1 .u-line-1 {
    margin-top: -84px;
    margin-right: calc(((100% - 720px) / 2) + 41px);
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 240px;
    margin-top: 132px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -598px;
    margin-right: calc(((100% - 720px) / 2) + 41px);
  }

  .u-section-1 .u-form-1 {
    width: 720px;
    margin-top: 78px;
    margin-left: calc(((100% - 720px) / 2) + 24px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1180px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 202px;
    margin-right: calc(((100% - 540px) / 2) + 88px);
    margin-left: calc(((100% - 540px) / 2) + 161px);
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-top: -66px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 180px;
    margin-top: 95px;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 304px;
    margin-top: -484px;
    margin-right: calc(((100% - 540px) / 2) + -14px);
  }

  .u-section-1 .u-form-1 {
    height: 715px;
    width: 540px;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1000px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 11px;
    margin-left: calc(((100% - 1140px) / 2) + 536px);
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 113px;
    margin-top: 351px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 191px;
    margin-top: -540px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: -178px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }
}