.u-section-1 .u-sheet-1 {
    min-height: 1235px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 400;
    font-size: 2.25rem;
    margin: 0 160px 0 auto;
  }
  
  .u-section-1 .u-line-1 {
    width: 390px;
    transform-origin: left center 0px;
    margin: -12px auto 0 205px;
  }
  
  .u-section-1 .u-form-1 {
    height: 951px;
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    margin: 34px 25px 60px 77px;
  }
  
  .u-section-1 .u-form-group-1 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-1 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-form-group-2 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-2 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-text-2 {
    margin-left: 0;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
  }
  
  .u-section-1 .u-form-group-4 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-3 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-form-group-5 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-4 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-form-group-6 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-5 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-form-group-7 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-6 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-form-group-8 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-7 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-form-group-9 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-8 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-form-group-10 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-9 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-form-group-11 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-10 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-form-group-12 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-11 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-form-group-13 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-12 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-form-group-14 {
    margin-left: 0;
  }
  
  .u-section-1 .u-label-13 {
    font-size: 1rem;
  }
  
  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    display: inline-block;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1243px;
    }
  
    .u-section-1 .u-text-1 {
      width: auto;
      margin-top: 74px;
      margin-right: 41px;
    }
  
    .u-section-1 .u-line-1 {
      margin-top: -21px;
      margin-left: 162px;
    }
  
    .u-section-1 .u-form-1 {
      margin-top: 35px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1309px;
    }
  
    .u-section-1 .u-text-1 {
      margin-top: 101px;
    }
  
    .u-section-1 .u-line-1 {
      margin-top: 14px;
      margin-left: 60px;
    }
  
    .u-section-1 .u-form-1 {
      margin-top: 14px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-line-1 {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-text-1 {
      font-size: 1.875rem;
    }
  
    .u-section-1 .u-line-1 {
      width: 340px;
      margin-top: -21px;
      margin-left: 0;
    }
  }