.u-section-1 .u-sheet-1 {
  min-height: 301px;
}

.u-section-1 .u-text-1 {
  margin: 0 95px 0 auto;
}

.u-section-1 .u-line-1 {
  width: 561px;
  transform-origin: left center 0px;
  margin: -22px auto 0 175px;
}

.u-section-1 .u-form-1 {
  height: 255px;
  background-image: none;
  margin: 19px 60px 22px 157px;
}

.u-section-1 .u-label-1 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-1 {
  font-size: 0.625rem;
}

.u-section-1 .u-label-2 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-2 {
  font-size: 0.625rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-3 {
  font-size: 0.625rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-4 {
  font-size: 0.625rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-5 {
  font-size: 0.625rem;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-6 {
  font-size: 0.625rem;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-7 {
  font-size: 0.625rem;
}

.u-section-1 .u-btn-1 {
  font-size: 0.625rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 329px;
    margin-left: 80px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 1px;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: -21px;
    margin-left: 81px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 27px;
    margin-right: -25px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 14px;
    margin-right: 33px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 7px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 11px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }
}